body {
    cursor: none;
}
@media only screen and (max-width: 600px) {
    body {
      cursor: default;
    }
}
@media only screen and (max-width: 800px) {
    body {
        cursor: default;
      }
    .cursor--large,
    .cursor--small {
      display: none;
    }
    .work-img::before {
        display: none;
    }
}
.link {
    --color: rgba(255, 255, 255, 0.944);
    position: relative;
    font-size: 0.95rem;
    font-family: "Sainte Colombe";
    text-decoration: none;
    color: var(--color);
    margin: 2rem;
    cursor: none;
    transition: color 300ms ease;
}
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease;
}
.link:hover {
    --color: rgb(255, 255, 255);
}
.link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.socials a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #8D99AE;
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--cursor-size);
    height: var(--cursor-size);
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
}
.cursor .cursor--text {
    --cursor-size: fit-content;
    font-size: 0.75rem;
    color: #fff;
    opacity: 0;
}
.cursor .cursor--text .text {
    font-family: sans-serif;
    font-weight: bold;
}
.cursor .cursor--small {
    --cursor-size: 20px;
    background: #fff;
}
.cursor .cursor--large {
    --cursor-size: 60px;
    border: 2px solid #fff;
}